@using System.Web.Mvc
@model ChessModel.Board

<table>
    @for (var y = 7; y >= 0; y--)
    {        
        <tr>
            <td>@((char)('A' + y))</td>
            @for (var x = 0; x < 8; x++)
            {
                <td class="square @(((x+y)&1)==1?"white":"black")">
                </td>
            }
        </tr>
    }
    <tr>
        <td></td>
        @for (var x = 0; x < 8; x++)
        {
            <td align="center">@((char)('1' + x))</td>
        }
    </tr>
</table>
