@model ChessModel.Game

<div id="gameHolder">
    
    <h2>@Model.Name</h2>
    <br />
    <table>
        <tr>
            <td valign="top">
                @Html.Partial("Board", Model)

                @if (Model.Board.IsCheck)
                {
                    if (Model.AvailableMoves.Count == 0)
                    {
                        <div class="check">Checkmate</div>
                    }
                    else
                    {
                        <div class="check">Check</div>
                    }
                }
                else if (Model.AvailableMoves.Count == 0)
                {
                    <div class="check">Stalemate</div>
                }

            </td>
            <td valign="top">
                <table>
                    @foreach (var move in Model.Moves)
                    {
                        <tr>
                            <td width="40px"></td>
                            <td width="80px">@Html.Encode(move.Item1)</td>
                            <td width="80px">@Html.Encode(move.Item2)</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </table>
</div>