@model ChessModel.Game

@{
    if (Model.BlackPlayer == null)
    {
        ViewBag.Title = Model.WhitePlayer + "'s game";
    }
    else
    {
        ViewBag.Title = Model.WhitePlayer + " vs " + Model.BlackPlayer;
    }
}

<div id="game">
    @Html.Partial("game", Model)
</div>

@using (Html.BeginForm("index", "game",FormMethod.Post, new { id = "refreshForm" }))
{
    <input type="hidden" name="id" value="@Model.Id"/>
}

<script type="text/javascript">
    $('.movable').draggable({
        containment: "table",
        revert: 'invalid'
    });

    $('.square').droppable({
        drop: function (ev, ui) {
            var dropped = ui.draggable;
            var droppedOn = $(this);
            
            if ($(dropped).attr("data-move-to").indexOf(droppedOn.attr("id")) >= 0) {

                var moveForm = document.forms[0];
                moveForm.elements["move"].value = $(dropped).parent().attr("id") + "-" + droppedOn.attr("id");
                moveForm.submit();
            }
            else {
                $(dropped).css({ top: 0, left: 0 })
            }
        }
    });

    var myVar = setInterval(function () { refreshBoard() }, 333);

    function refreshBoard() {
        if (doRefresh)
            document.getElementById('refreshForm').submit();
    }

</script>
