@model ChessModel.Game

<script type="text/javascript">
    function makeDraggable() {}
    function showTime(id, t) {}
    function showCurTimer() {}
</script>

@using (Ajax.BeginForm("show", null,
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "gameHolder"
    },
    new { id = "refreshForm" }))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="move" id="moveControl" />
}

@using (Ajax.BeginForm("MakeMove", null,
                    new AjaxOptions
                    {
                        HttpMethod = "post",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "gameHolder"                        
                    },
                    new { id = "makeMove" }))
{
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="move" id="userMove" value="" />
}

@Html.Partial("game", Model)

@section Scripts{
<script type="text/javascript">

    function hint() {
        $('.movable').effect("highlight");
    }

    function lastMove() {
        $('.lastmove').effect("highlight");
    }

    function makeDraggable() {
        $('.movable').draggable({
            containment: "#board",
            revert: 'invalid'
        });

        $('.square').droppable({
            drop: function (ev, ui) {
                var dropped = ui.draggable;
                var droppedOn = $(this);

                if ($(dropped).attr("data-move-to").indexOf(droppedOn.attr("id")) >= 0) {
                    $("#userMove").attr("value", $(dropped).parent().attr("id") + "-" + droppedOn.attr("id"));
                    $("#makeMove").submit();
                }
                else {
                    $(dropped).css({ top: 0, left: 0 })
                }
            }
        });
    }

    function myOnAjaxSuccess(event, xhr, settings) {
        if (settings.url.indexOf("Game/show") != -1) {
            lastMove();
        }        
    }

    $(document).ajaxSuccess(myOnAjaxSuccess);

    makeDraggable();
    var myVar = setInterval(function () { refreshBoard() }, 333);
    function refreshBoard() {
        if (boardRefresh) {            
            $('#moveControl').attr('value', currentMovesCount);
            $('#refreshForm').submit();
        }
    }

    function lz(t) {
        return (t < 10) ? "0" + t : t;
    }

    function showTime(id, t) {
        var min = Math.floor(t / 60);
        var sec = t - min * 60;
        $(id).html(min + ":" + lz(sec));
    }

    function showCurTimer() {
        var min = Math.floor(currTime / 60);
        var sec = currTime - min * 60;
        var html = min + ":" + lz(sec);
        if (extraTime > 0)
            html += '<span style="font-size:small">+' + extraTime + '</span>';
        $("#activeTimer").html(html);
    }
    showTime("#whiteTimer", whiteTime);
    showTime("#blackTimer", blackTime);
    showCurTimer();

    function myTimer() {
        if (extraTime > 0) {
            --extraTime;
        }
        else if (currTime > 0){
            --currTime;
        }
        showCurTimer();
    }
    var timer = setInterval(function () { myTimer() }, 1000);


</script>
}