@model ChessModel.Game

@{
    ViewBag.Title = "Game " + Model.Id;
}

<h2>Game @Model.Id</h2>
<br/>
@Html.Partial("Board", Model)

@using(Html.BeginForm("MakeMove", "Game", FormMethod.Get))
{
    <input type="text" name="id" value="@Model.Id" />
    <input type="text" name="move" value="" />
    <input type="submit" value="Move" />
}



<script type="text/javascript">
    //<![CDATA[
    $('.movable').draggable({
        containment: "table",
        revert: 'invalid'
    });

    $('.square').droppable({
        drop: function (ev, ui) {
            var dropped = ui.draggable;
            var droppedOn = $(this);
            
            if ($(dropped).attr("data-move-to").indexOf(droppedOn.attr("id")) >= 0) {

                var moveForm = document.forms[0];
                moveForm.elements["move"].value = $(dropped).parent().attr("id") + "-" + droppedOn.attr("id");
                moveForm.submit();

                //$(dropped).parent().droppable("enable");
                //droppedOn.empty();
                //$(dropped).detach().css({ top: 0, left: 0 }).appendTo(droppedOn);
            }
            else {
                $(dropped).css({ top: 0, left: 0 })
            }
        }
    });

    //$(".figure")
    //    .mousedown(function () {
    //    $(this).addClass("active");
    //    })
    //    .mouseup(function () {
    //        $(this).removeClass("active");
    //    });

    //]]>
</script>
