@model IEnumerable<KeyValuePair<int, ChessModel.Game>>


@foreach (var game in Model)
{
    <div>
        @Html.ActionLink(game.Value.Name, "Index", "Game", new { id = game.Key }, null)
        @if (game.Value.BlackPlayer == null && User.Identity.Name != game.Value.WhitePlayer)
        {
            @Html.ActionLink("Join", "Join", "Game", new { id = game.Key }, null)
        }
    </div>
}
