@model IEnumerable<KeyValuePair<int, ChessModel.Game>>


@foreach (var game in Model)
{
    <div>
        @if (game.Value.BlackPlayer == null)
        {
            @Html.ActionLink("Join " + game.Value.WhitePlayer + "'s game", "Join", "Game", new { id = game.Key }, null)
        }
        else
        {
            @Html.ActionLink(game.Value.WhitePlayer + " vs " + game.Value.BlackPlayer, "Index", "Game", new { id = game.Key }, null)
        }
    </div>
}
